body {
  background-color: lightblue;
}

button  {
  border-color: white;
  background-color: grey;
  color: white;
  font-size: 12px;
}

#formOne {
  width: 300px;
}
/* program options */
#cSharp {
  display: none;
}

#go {
  display: none;
}

#python {
  display: none;
}

#swift {
  display: none;
}
/* location options */
#or {
  display: none;
}

#wa {
  display: none;
}

#id{
  display: none;
}

#ut {
  display: none;
}
