body {
  background-color: lightblue;
  font-family: 'Righteous', cursive;
}

#header {
  font-size: 70px;
  position: fixed;
  text-align: center;
}

button  {
  border-color: white;
  background-color: grey;
  color: white;
  font-size: 12px;
}

.jumbotron {
  background-color: lightblue;
}

#formOne {
  width: 300px;
}
/* interest result for jumboton */
#interestUnanswered {
  display: none;
}

#interestNo {
  display: none;
}

#interestYes {
  display: none;
}

/* program result for jumboton */
#noProgramResponse {
  display: none;
}

#cSharp {
  display: none;
}

#go {
  display: none;
}

#python {
  display: none;
}

#swift {
  display: none;
}
/* time result for jumbotron */
#noTimeResponse {
  display: none;
}

#dayResponse {
  display: none;
}

#nightResponse {
  display: none;
}
/* internship result for jumbotron */
#noInternshipResponse {
  display: none;
}

#noInternship {
  display: none;
}

#yesInternship {
  display: none;
}
/* location result for jumboton */
#noLocationResponse{
  display: none;
}

#or {
  display: none;
}

#wa {
  display: none;
}

#id{
  display: none;
}

#ut {
  display: none;
}
